<form action="/user/update/<%= user.id %>" method="POST">
  <h2>EDIT THAT USER!</h2>

  <input type="text" name="name" value="<%= user.name %>"/>
  <input type="text" name="title" value="<%= user.title %>"/>
  <input type="text" name="email" value="<%= user.email %>"/>

  <input type="submit" name="Confirm"/>
  <input type="hidden" name="_csrf" value="<%= _csrf %>"/>
</form>
