<h1>Users</h1>

<% _.each(users, function(user) { %>
<ul>
  <li><%= user.id %></td>
  <li><%= user.name %></td>
  <li><%= user.username %></td>
  <li><%= user.email %></td>
  <li><a href="<%= user.id %>">SHOW</a></td>
  <li><a href="/user/edit/<%= user.id %>">EDIT</a></td>
  <li><form action="/user/delete/<%= user.id %>" method="POST">
    <input type="hidden" name="_method" value="delete"/>
    <input type="hidden" name="_csrf" value="<%= _csrf %>" />
    <input type="submit" value="DELETE"/>
  </form></li>
</ul>
<% }) %>
